#preview {
	margin: 0 15px;
}

/*MarkDown Contents*/
h1 {
	border-bottom: 2px solid #224b4b;
	font-size: 32px;
	margin-top: 25px;
	font-weight: bold;
}

h2 {
	border-bottom: 1px solid #224b4b;
	font-size: 24px;
	margin-top: 25px;
	font-weight: bold;
}
h3 {
	font-size: 19px;
	margin-top: 25px;
	font-weight: bold;
}
#preview > p > code {
	padding: 3px;
}

code {
	color: black;
	background: white;
	font-size: 14px;
	font-weight: bold;
}

pre {
	background: white;
	padding: 5px;
}

.comment {
	color: #708090;
}

.keyword {
	color: #07a;
}

.function {
	color: #dd4a68;
}

.punctuation {
	color: #999;
}

.operator {
	color: #9a6e3a;
	background: hsla(0, 0%, 100%, 0.5);
}

.string {
	color: #690;
}

a:-webkit-any-link {
	color: black;
	cursor: pointer;
}

blockquote {
	border-left: 3px solid #224b4b;
	padding-left: 5px;
	margin-left: 25px;
}

td,
th {
	border: 2px solid #224b4b;
	padding-left: 5px;
	padding-right: 5px;
}

table {
	margin-bottom: 17px;
}

ol,
ul {
	margin-left: 9px;
}

img {
	max-width: 90%;
	margin: 17px 0px 17px 40px;
}
